</div>
<script src="/js/app.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        // scrollbar: {
        //     el: '.swiper-scrollbar',
        // },
    });
</script>
<script defer>
    const home = document.querySelector('.home');
    if (home) {
        const navlink = document.querySelector('.navlink');
        home.addEventListener('click', () => {
            navlink.classList.toggle('shownav');
            if (navlink.classList.contains('shownav')) {
                home.querySelector("img").src = '/assest/OLIVE/close.png';
            } else {
                home.querySelector("img").src = '/assest/OLIVE/dashboard.png';
            }
        });

    }


</script>
</body>

</html>