<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1 user-scalable=0">
    <title>Olive</title>
    <link rel="stylesheet" href="/styles/auth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <script src="https://checkout.flutterwave.com/v3.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <h1>logo</h1>
            </div>
            <div class="icon">
                <div class="user">
                    <img src="/assest/OLIVE/Group-1.png" alt="" srcset="">
                </div>
                <a href="/dashboard">
                    <div class="home">
                        <img src="/assest/OLIVE/Group.png" alt="" srcset="">
                    </div>
                </a>
            </div>
        </header>