<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olive</title>
    <link rel="stylesheet" href="styles/auth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/utils.min.js"></script>
</head>

<body>

    <div class="container">
        <header>
            <div class="logo">
                <h1>logo</h1>
            </div>
            <div class="icon">
                <div class="user">
                    <img src="/assest/OLIVE/Group-1.png" alt="" srcset="">
                </div>
                <a href="/">
                    <div class="home">
                        <img src="/assest/OLIVE/Group.png" alt="" srcset="">
                    </div>
                </a>
            </div>
        </header>
        <section class="largeImg">


            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="/assest/OLIVE/woman.png" />
                    </div>
                    <div class="swiper-slide">
                        <img style="height: 452px; width: 414px;object-fit: cover;" src="/assest/OLIVE/guy.png" />
                    </div>

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->

                <div class="swiper-button-prev">
                    <img class="carousel-l" src="/assest/OLIVE/Group 2.png" />
                </div>
                <div class="swiper-button-next">
                    <img class="carousel" src="/assest/OLIVE/Group 2.png" />
                </div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>

                <!-- 
                <img src="/assest/OLIVE/guy.png" />
                <img src="/assest/OLIVE/woman.png" />  -->
            </div>
            <!--  -->

        </section>
        <section class="content">
            <h4 class="content_header">YOUTH CENTRIC DIGITAL ECOSYSTEM</h4>
            <p class="content_text">
                <strong>Olive platform</strong> is a triumvirate and youth-centric digital ecosystem built for creative
                enthusiasts
                seeking talent discovery, training, incubation, content production, publicity, audience engagement and
                market nexus to monetize digital contents in music, movies, fashion, and creative expressions.
            </p>
            <div class="youtube">
                <img src="/assest/OLIVE/ladyYoutube.png" alt="" srcset="">
                <img class="youtubelogo" src="/assest/OLIVE/fontisto_youtube-play.png">
            </div>
            <div class="join">

                <div class="phoneInput">
                    <h4 class="form content_header">JOIN FREE OR SIGN IN
                        <hr>
                    </h4>
                    <form id="form" class="numberform">
                        <div class="flex-form">
                            <!-- <select>
                                <option class="ng"></option>

                            </select> -->
                            <!-- <input type="text" name="code" id="code" readonly value="+234"> -->
                            <input type="text" id="phone" />
                        </div>
                        <hr>
                        <button class="btn">SIGN IN</button>
                    </form>
                </div>
                <p>*By continuing you accept the Promoflo network and OLIVE Terms and Privacy Policy.</p>
                <p>or <span>LOG IN</span> with </p>
            </div>
            <div class="otp_content">
                <h4 class="otp content_header">Verify your Phone number</h4>
                <h5>Enter your OTP code here</h5>
                <div class="otp">
                    <input type="text" name="" id="one" maxlength="1" onkeyup='otpCode(e,"","one","two")'>
                    <input type="text" name="" id="two" maxlength="1" onkeyup='otpCode(e,"one","two","three")'>
                    <input type="text" name="" id="three" maxlength="1" onkeyup='otpCode(e,"two","three","four")'>
                    <input type="text" name="" id="four" maxlength="1" onkeyup='otpCode(e,"three","four","five")'>
                    <input type="text" name="" id="five" maxlength="1" onkeyup='otpCode(e,"four","five","")'>
                </div>
                <a href="/dashboard">

                    <button class="btn">SIGN IN</button>
                </a>
                <h6 class="resend">Resend</h6>
            </div>
            <footer>
                <div class="facebook">
                    <img src="/assest/OLIVE/Ellipse 2.png" />
                    <img class="socialicons" src="/assest/OLIVE/brandico_facebook.png" />
                </div>
                <div class="google">
                    <img src="/assest/OLIVE/Ellipse 2.png" />
                    <img class="socialicons" src="/assest/OLIVE/flat-color-icons_google.png" />
                </div>
                <div class="mail">
                    <img src="/assest/OLIVE/Ellipse.png" />
                    <img class="socialicons" src="/assest/OLIVE/clarity_email-outline-badged.png" />
                </div>
            </footer>
        </section>

        <div class="bottom"></div>
    </div>

    <script>
        const carousel = document.querySelector(".carousel");
        const changeImg = document.querySelector(".changeImg");
        const slider = document.querySelector(".slider");




        const form = document.querySelector("#form");

        form.addEventListener("submit", (e) => {
            e.preventDefault()
            const otp_content = document.querySelector(".otp_content")
            otp_content.style.display = "flex";
            e.target.parentElement.parentElement.style.display = "none"
        })


        var requestOptions = {
            method: 'GET',
            redirect: 'follow'
        };

        // fetch("https://countriesnow.space/api/v0.1/countries/flag/unicode", requestOptions)
        //     .then(response => response.json())
        //     .then(result => {
        //         console.log(result.data)
        //         select.innerHTML = result.data.forEach(element => {
        //             return `
        //                 <option>${element.unicodeFlag}</option>
        //             `
        //         });
        //         console.log(select)
        //         // select.innerHTML = "hi"

        //     })
        //     .catch(error => console.log('error', error));
        function otpCode(e, p, c, n) {
            const length = document.getElementById(c).value.length;
            const maxlength = document.getElementById(c).getAttribute("maxlength");
            if (length == maxlength) {
                document.getElementById(n).focus()
            }
        }

    </script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            // scrollbar: {
            //     el: '.swiper-scrollbar',
            // },
        });
    </script>
    <script src="/js/app.js"></script>
    <script>
        var input = document.querySelector("#phone");
        intlTelInput(input, {
            initialCountry: "auto",
            geoIpLookup: function (success, failure) {
                $.get("https://ipinfo.io", function () { }, "jsonp").always(function (resp) {
                    var countryCode = (resp && resp.country) ? resp.country : "ng";
                    success(countryCode);
                });
            },
        });
    </script>

</body>

</html>