<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <title>Olive</title>
    <link rel="stylesheet" href="/styles/brand.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <h1>logo</h1>
            </div>
            <div class="icon">
                <div class="user">
                    <img src="/assest/OLIVE/usergold.png" alt="" srcset="">
                </div>
                <a href="/">
                    <div class="home">
                        <img src="/assest/OLIVE/goldHomeIcon.png" alt="" srcset="">
                    </div>
                </a>
            </div>
        </header>
        <section class="largeImg">
            <img style="height: 350px; Width:414px;object-fit: cover;" class="changeImg"
                src="/assest/OLIVE/bbnFull.png" />
            <!-- <img src="/assest/OLIVE/guy.png" /> -->
            <!-- <img class="carousel" src="/assest/OLIVE/Group 2.png" /> -->
        </section>
        <section class="content brand">
            <h4 class="content_header">Big Brother Naija 2022</h4>
            <div class="brand_text">
                <p>
                    Big Brother Naija, formerly known as Big Brother Nigeria, is a Nigerian reality competition
                    television series.
                </p>
                <form class="record">
                    <p>Choose a method below to record</p>
                    <div class="tools">
                        <form>
                            <div>

                                <img src="/assest/OLIVE/recordgold.png" alt="" srcset="">
                                <h6>Record a video</h6>
                            </div>
                            <div>
                                <input type="file" name="" id="upload" hidden>
                                <label for="upload">
                                    <img src="/assest/OLIVE/uploadGold.png" alt="" srcset="">

                                    <h6>Upload your video</h6>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="updateprofile">
                        <h6 class="content_header">Update Your Profile</h6>
                        <p>Kindly update your profile </p>
                    </div>
                    <button class="btn">Update Your Profile</button>
                </form>
            </div>
            <!-- <div class="boxs">
            <div class="bo">
                <img src="/assest/OLIVE/rccg.png">
                <h6 class="content_header audition">rccg</h6>
            </div>
            <div class="bo">
                <img src="/assest/OLIVE/bbn.png">
                <h6 class="content_header audition">bbnaija</h6>
            </div>
            <div class="bo">
                <img src="/assest/OLIVE/headies.png">
                <h6 class="content_header audition">headies</h6>
            </div>
            <div class="bo">
                <img src="/assest/OLIVE/projectfame.png">
                <h6 class="content_header audition">projectfame</h6>
            </div>
        </div> -->

        </section>
    </div>
</body>

</html>