<%- include ("./partials/header.ejs") %>
    <section class="largeImg">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="/assest/OLIVE/woman.png" />
                </div>
                <div class="swiper-slide">
                    <img src="/assest/OLIVE/ankara.png" />
                </div>
                <div class="swiper-slide">
                    <img style="height: 452px; width: 414px;object-fit: cover;" src="/assest/OLIVE/guy.png" />
                </div>
                <div class="swiper-slide">
                    <img src="/assest/OLIVE/flowergirl.png" />
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->

            <div class="swiper-button-prev">
                <img class="carousel-l" src="/assest/OLIVE/Group 2.png" />
            </div>
            <div class="swiper-button-next">
                <img class="carousel" src="/assest/OLIVE/Group 2.png" />
            </div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>

            <!-- 
            <img src="/assest/OLIVE/guy.png" />
            <img src="/assest/OLIVE/woman.png" />  -->
        </div>
        <!--  -->
    </section>
    <section class="content" style="background-color: #fff;">
        <h4 class="content_header">My Dashboard</h4>
        <div class="boxs">
            <a href="/digitalauditionplatform">
                <div class="box">
                    <img src="/assest/OLIVE/Group-1.png">
                    <h5>Market Place</h5>
                </div>
            </a>
            <a href="/digitalauditionplatform">
                <div class="box">
                    <img src="/assest/OLIVE/icon/Vector.png">
                    <h5>Digital Audition Platform</h5>
                </div>
            </a>
            <div class="box">
                <img src="/assest/OLIVE/icon/Vector-1.png">
                <h5>Learning Management System</h5>
            </div>
            <div class="box">
                <img src="/assest/OLIVE/icon/Vector-2.png">
                <h5>Creative Content Showcase</h5>
            </div>
            <div class="box">
                <a href="/auditions">
                    <img src="/assest/OLIVE/recorder.png">
                    <h5>My Auditions</h5>

                </a>
            </div>
        </div>
        <!-- <h4 class="content_header">YOUTH CENTRIC DIGITAL ECOSYSTEM</h4>
        <p class="content_text">
            <strong>Olive platform</strong> is a triumvirate and youth-centric digital ecosystem built for creative
            enthusiasts
            seeking talent discovery, training, incubation, content production, publicity, audience engagement and
            market nexus to monetize digital contents in music, movies, fashion, and creative expressions.
        </p>
        <div class="youtube">
            <img src="/assest/OLIVE/ladyYoutube.png" alt="" srcset="">
            <img class="youtubelogo" src="/assest/OLIVE/fontisto_youtube-play.png">
        </div>
        <div class="join">

            <div class="phoneInput">
                <h4 class="form content_header">JOIN FREE OR SIGN IN</h4>
                <img src="/assest/OLIVE/line 2.png" />
                <form id="form">
                    <div class="flex-form">
                        <select name="" id="">
                        </select>
                        <input type="number" name="" id="">
                    </div>
                    <img src="/assest/OLIVE/line 2.png" />
                    <button class="btn">SIGN IN</button>
                </form>
            </div>
            <p>*By continuing you accept the Promoflo network and OLIVE Terms and Privacy Policy.</p>
            <p>or <span>LOG IN</span> with </p>
        </div> -->
    </section>

    <div class="" style="background-color: #fff;">
        <div class="footer_social">
            <div>
                <p>&copy; 2021 OLIVE</p>
            </div>
            <div class="social_icon">
                <img src="/assest/OLIVE/fb.png" />
                <img src="/assest/OLIVE/instagram.png" />
                <img src="/assest/OLIVE/twitter.png" />
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>