<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G-FACTOR </title>
    <link rel="icon" href="/assest/OLIVE/logo.png">
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@400;600&family=Mulish:wght@300&display=swap"
        rel="stylesheet">
    <!-- <style href="styles/style.css"></style> -->
</head>

<body>
    <div class="wrapper">
        <div class="logo">
            <img src="/assest/GODFACTOR/God factorTT.png" alt="">
            <span>god</span>
            <span>-</span>
            <span>factor</span>
        </div>
        <div class="links">
            <a href="/login">Login</a>
            <a class="abtn" id="forbtn" href="/signup">Signup</a>
        </div>
        <div class="landing">
            <div class="landingcontent">
                <h1>g-factor</h1>
                <h2>A Gospel Music Impact <br>Reality Show.</h2>
                <p>For vibrant gospel music enthusiast and creative entrepreneurs.</p>
                <div class="powered">
                    <img src="/assest/GODFACTOR/afrinolly.png" alt="">
                    <img src="/assest/GODFACTOR/henly logo.png" alt="">
                    <img src="/assest/GODFACTOR/berklee.png" alt="">
                    <img src="/assest/GODFACTOR/rtm logo.png" alt="">
                </div>
            </div>
            <div class="mic">
                <img src="/assest/GODFACTOR/555-5551553_freetoedit-eemput-music-voice-microphone-gold-singing-hd_ccexpress 1.png"
                    alt="">
            </div>

        </div>
        <div class="center">
            <img class="cimg" src="/assest/GODFACTOR/Screen Shot 2022-02-06 at 10.52.png" alt="">
        </div>
        <div class="call">
            <h1>Calls for Entry & Application.</h1>
            <h4>Nigeria 🇳🇬 and South Africa. 🇿🇦</h4>
            <p>Tuition & Registration fee subsidized.
                @N10,000 per participant</p>
            <a href="/signup">Sign Up</a>
        </div>
        <div class="purpose">
            <img src="/assest/GODFACTOR/3333123-middle_ccexpress 2.png" alt="">
            <div class="purpose-border">
                <h4>Purpose :</h4>
                <p>To empower gospel music artists specifically for Online Congregation and Saints in the
                    Mountains-of-Culture.</p>
            </div>
        </div>
        <div class="about">
            <h1>About Godfactor</h1>
            <p>G-Factor is the YCombinator of Gospel Music. Essentially, it is a gospel music impact reality show for
                Over-The-Top (OTT) platforms. G-Factor has three components: Impact Education; Impact Incubation; and
                Impact Concerts</p>
        </div>
        <div class="benefits">
            <h1>Benefits</h1>
            <div class="benefits-grid">
                <div>
                    <h1>Cash Prizes</h1>
                    <p>More than N30million worth of cash & prizes to be won.</p>
                </div>
                <div>
                    <h1>Incubation</h1>
                    <p>Incubation class to co-create 10tracks gospel music album.</p>
                </div>
                <div>
                    <h1>Collaboration</h1>
                    <p>Work with established songwriters and producers</p>
                </div>
                <div>
                    <h1>Mentorship</h1>
                    <p>Mentoring by A-list and established Gospel Artiste.</p>
                </div>
                <div>
                    <h1>Certification</h1>
                    <p>International certification in Music and Entrepreneurship.</p>
                </div>
                <div>
                    <p>Incubation class to co-create 10tracks gospel music album.
                    </p>
                    <img src="/assest/GODFACTOR/God factorRR.png" alt="">
                </div>
            </div>

        </div>

        <footer>
            <div class="querys">
                <a href="#">let's talk</a>
            </div>

            <div class="footerlinks">
                <div class="hotline">
                    <h5>service hotline</h5>
                    <p>Thelma Amacree</p>
                    <a href="mailto:Afrinolly@gmail.com">Afrinolly@gmail.com</a>
                </div>
                <div class="pr">
                    <h5>public relations inquiries</h5>
                    <p>Ayo</p>
                    <a href="mailto:Macleanafrinolly@gmail.com">Afrinolly@gmail.com</a>
                </div>
                <div class="headquaters">
                    <h5>headquaters</h5>
                    <p>No. 16, Sophie Kuye,Pedro, Lagos.+2347066453516</p>
                </div>
                <div class="hi">
                    <h5>Say hi</h5>
                    <a href="mailto:info@afrinolly">info@afrinolly</a>
                </div>
                <div class="social">
                    <h5>social</h5>
                    <p>You can always find us on social.</p>
                    <!-- <div class="socials">
                        <img src="" alt="youtube">
                        <img src="" alt="instagram">
                        <img src="" alt="linkdin">
                        <img src="" alt="twitter">
                    </div> -->
                </div>
                <div class="terms">
                    <p>&copy; <span>2022</span>afrinolly. All rights reserved <span>Privacy</span> <span>Terms &
                            condition</span> </p>
                </div>
            </div>

        </footer>
    </div>
</body>

</html>