<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olive</title>
    <link rel="stylesheet" href="styles/auth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/utils.min.js"></script>
</head>

<body>

    <div class="container">
        <header>
            <div class="logo">
                <h1>logo</h1>
            </div>
            <div class="icon">


            </div>
        </header>
        <section class="largeImg">


            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="/assest/OLIVE/woman.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/assest/OLIVE/ankara.png" />
                    </div>
                    <div class="swiper-slide">
                        <img style="height: 452px; width: 414px;object-fit: cover;" src="/assest/OLIVE/guy.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="/assest/OLIVE/flowergirl.png" />
                    </div>

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->

                <div class="swiper-button-prev">
                    <img class="carousel-l" src="/assest/OLIVE/Group 2.png" />
                </div>
                <div class="swiper-button-next">
                    <img class="carousel" src="/assest/OLIVE/Group 2.png" />
                </div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>

                <!-- 
                <img src="/assest/OLIVE/guy.png" />
                <img src="/assest/OLIVE/woman.png" />  -->
            </div>
            <!--  -->

        </section>
        <section class="content link_register">
            <h4 class="content_header">YOUTH CENTRIC DIGITAL ECOSYSTEM</h4>
            <p class="content_text">
                <strong>Olive platform</strong> is a triumvirate and youth-centric digital ecosystem built for creative
                enthusiasts
                seeking talent discovery, training, incubation, content production, publicity, audience engagement and
                market nexus to monetize digital contents in music, movies, fashion, and creative expressions.
            </p>
            <div class="youtube">
                <img src="/assest/OLIVE/ladyYoutube.png" alt="" srcset="">
                <img class="youtubelogo" src="/assest/OLIVE/fontisto_youtube-play.png">
            </div>

            <b style="margin-top: 10px;" class="content_header register_link_header">SIGN IN TO OLIVE </b>
            <form style="margin-bottom: 20px;" class="register_link" id="form">
                <div class="number">
                    <label for="number">Please enter your phone number</label>
                    <!-- <input type="number" name="username" required> -->
                    <input id="phone" name="username" type="tel">

                    <img src="/assest/OLIVE/Line 2.png" alt="">
                </div>
                <!-- <div class="number">
                    <label for="email">Enter your email address </label>
                    <input type="email" name="email" required>
                    <img src="/assest/OLIVE/Line 2.png" alt="">
                </div>
                <div class="number">
                    <label for="name">Enter your full name</label>
                    <input type="text" name="name">
                    <img src="/assest/OLIVE/Line 2.png" alt="" required>
                </div> -->
                <div class="number">
                    <label for="password">Password</label>
                    <div style="display: flex; gap: 10px;margin-left: 5px;">
                        <img src="/assest/OLIVE/lock.png" alt="" srcset="">
                        <input type="password" id="password" required name="password">
                    </div>
                    <img src="/assest/OLIVE/Line 2.png" alt="">
                </div>
                <!-- <div class="number">
                    <label for="confirm_password">Confirm password</label>
                    <input type="password" name="" id="confirm_password" required>
                    <img src="/assest/OLIVE/Line 2.png" alt="">
                </div> -->
                <!-- <div class="number">
                    <label for="p2">Upload Picture</label>
                    <input type="file" name="logo" id="p2">
                    <img src="/assest/OLIVE/Line 2.png" alt="">
                </div> -->
                <button class="btn" id="submitBtn" type="submit">SIGN IN</button>
            </form>

            <a style="color: #801315;" class="register" href="/">Register on OLIVE NOW</a>
            <p>or <span>LOG IN</span> with </p>

            <!-- <div class="otp_content">
                <form id="otp">
                    <h4 class="otp ">Verify your Phone number</h4>
                    <h5>Enter your OTP code here</h5>
                    <br>
                    <br>
    
                    <div class="otp">
                        <input type="text" name="one" id="one" maxlength="1">
                        <input type="text" name="two" id="two" maxlength="1">
                        <input type="text" name="three" id="three" maxlength="1">
                        <input type="text" name="four" id="four" maxlength="1">
                        <input type="text" name="five" id="five" maxlength="1">
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="btn">SIGN IN</button>
    
                </form>
                <h6 class="resend">Resend</h6>
            </div> -->


            <footer>
                <div class="facebook">
                    <img src="/assest/OLIVE/Ellipse 2.png" />
                    <img class="socialicons" src="/assest/OLIVE/brandico_facebook.png" />
                </div>
                <div class="google">
                    <img src="/assest/OLIVE/Ellipse 2.png" />
                    <img class="socialicons" src="/assest/OLIVE/flat-color-icons_google.png" />
                </div>
                <div class="mail">
                    <img src="/assest/OLIVE/Ellipse 2.png" />
                    <img class="socialicons" src="/assest/OLIVE/clarity_email-outline-badged.png" />
                </div>

            </footer>


        </section>


        <div class="bottom"></div>
    </div>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            // scrollbar: {
            //     el: '.swiper-scrollbar',
            // },
        });
    </script>
    <script>
        var input = document.querySelector("#phone");
        window.intlTelInput(input, {
            initialCountry: "NG",
            autoHideDialCode: false,
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/utils.min.js",
        });

        input.addEventListener("open:countrydropdown", function (e) {
            e.target.setAttribute("placeholder", "Select Country");
            e.target.style.width = "40px !important";
        });

        const form = document.querySelector("#form");
        const btn = document.querySelector(".btn");

        form.addEventListener("submit", (e) => {
            e.preventDefault()
            btn.disabled = true;
            btn.innerHTML = "Please wait...";


            fetch('login', {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    username: input.value,
                    password: e.target.password.value
                })
            }).then(res => res.json())
                .then(data => {
                    if (data.status === "true") {
                        btn.innerHTML = "SUCESS";
                        window.location.href = "/dashboard";
                    } else {
                        btn.disabled = false;
                        btn.innerHTML = "SIGN IN";
                        alert("Wrong username or password")

                    }

                })

        })
    </script>

</body>

</html>