<%- include ("./partials/header.ejs") %>

    <section class="largeImg">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="/assest/OLIVE/woman.png" />
                </div>
                <div class="swiper-slide">
                    <img style="height: 452px; width: 414px;object-fit: cover;" src="/assest/OLIVE/guy.png" />
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->

            <div class="swiper-button-prev">
                <img class="carousel-l" src="/assest/OLIVE/Group 2.png" />
            </div>
            <div class="swiper-button-next">
                <img class="carousel" src="/assest/OLIVE/Group 2.png" />
            </div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>

            <!-- 
            <img src="/assest/OLIVE/guy.png" />
            <img src="/assest/OLIVE/woman.png" />  -->
        </div>
        <!--  -->
    </section>
    <section class="content link_register">
        <div class="CONGRATULATION">
            <img width="50px" height="50px" src="/assest/OLIVE/confirm.png" alt="" srcset="">
            <h4>CONGRATULATION</h4>
            <P>Your Payment is successful.
            </P>
            <button class="btn" data-id="<%= audition._id %>">
                GO TO AUDITION
            </button>
            <h5>
                <!-- <script src="https://checkout.flutterwave.com/v3.js"></script> -->
                <a href="/dashboard">GO TO DASHBOARD</a>
            </h5>
        </div>


    </section>

    <div class="" style="background-color: #000;">

        <div class="footer_social">
            <div>
                <p><span style="color: #ddd;">&copy; 2021</span> GhenGhen </p>
            </div>
            <div class="social_icon">
                <img src="/assest/OLIVE/fb.png" />
                <img src="/assest/OLIVE/instagram.png" />
                <img src="/assest/OLIVE/twitter.png" />
            </div>
        </div>

    </div>
    <!-- 
    <form>
       
        <button type="button">Pay Now</button>
    </form> -->

    <script>
        const btn = document.querySelector('.btn');
        btn.addEventListener('click', () => {
            window.location.href = `/auditions/${btn.dataset.id}`;
        });


    </script>
    <%- include ("./partials/footer.ejs") %>