<%- include("./partials/header.ejs") %>
    <section class="content">


        <div class="container-fluid">
            <div class="card">
                <div class="header">
                    <h2>
                        CREATE AUDITION
                        <small>Fill Audition Details</small>
                    </h2>
                    <!-- <button type="button" onClick="payWithRave()">Pay Now</button> -->
                </div>
                <div class="body">
                    <div class="demo-masked-input">
                        <form class="provider" enctype="multipart/form-data" name="fileinfo">
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <b>Name</b>
                                    <div class="input-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="audition name"
                                                name="auditionName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <b>Audition Description</b>
                                    <div class="input-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="audition description"
                                                name="auditionDescription">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <b>Audition StartDate</b>
                                    <div class="input-group">
                                        <div class="form-line">
                                            <input type="date" class="form-control"
                                                placeholder="audition start date D/M/Y" name="auditionStartDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <b>Audition EndDate</b>
                                    <div class="input-group">
                                        <div class="form-line">
                                            <input type="date" class="form-control"
                                                placeholder="audition end date D/M/Y" name="auditionEndDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <b>Audition Logo</b>
                                    <div class="input-group">
                                        <div class="form-line">
                                            <input type="file" class="form-control" placeholder="upload a logo"
                                                name="auditionLogo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <h5>Choose Audition Pattern</h5>
                                    <select class="form-select" aria-label="Default select example"
                                        name="auditionPattern">
                                        <option value="0">Upload</option>
                                        <option selected value="1">Live</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <h5>Choose Audition Charges</h5>
                                    <select class="form-select" aria-label="Default select example"
                                        name="auditionCharges">
                                        <option selected value="0">Free</option>
                                        <option value="1">Payment</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <h5> Audition Price</h5>
                                    <div class="input-group">
                                        <div class="form-line">
                                            <input type="number" class="form-control" placeholder="5000"
                                                name="auditionPrice">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <h5>Number of Auditions</h5>
                                    <select class="form-select" aria-label="Default select example"
                                        name="auditionCount">
                                        <option value="-1">Unlimited</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <button type="button" onClick="payWithRave()">Pay Now</button> -->

                            <button type="submit" id="auditionBtn" class="btn padding-10"
                                style="padding: 5px 8px;">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        const provider = document.querySelector(".provider");
        const auditionBtn = document.querySelector("#auditionBtn");
        const logo = document.querySelector("input[name='auditionLogo']");
        // check if the file is an image

        // check if logo is uploaded
        // if (logo.files[0].type !== "image/jpeg" && logo.files[0].type !== "image/png") {
        //     alert("Please upload a valid image file (jpg/png)");
        //     logo.value = "";
        //     return false;
        // }
        // check if start date is before end date

        // check if audition name is empty


        provider.addEventListener("submit", async (e) => {
            e.preventDefault();

            if (provider.auditionName.value === "") {
                alert("Please enter a valid audition name");
                provider.auditionName.focus();
                return false;
            }
            if (provider.auditionStartDate.value > provider.auditionEndDate.value) {
                alert("Audition start date cannot be after end date");
                provider.auditionStartDate.value = "";
                provider.auditionEndDate.value = "";
                return false;

            }
            if (provider.auditionLogo.value == "") {
                alert("Please upload a valid image file (jpg/png)");
                provider.auditionLogo.value = "";

                provider.auditionLogo.focus();
                return false;
            }
            // check if the file is an image


            auditionBtn.disabled = true;
            auditionBtn.innerHTML = "Please wait...";
            const formdata = new FormData();
            formdata.append("auditionLogo", e.target.auditionLogo.files[0]);
            formdata.append("auditionDescription", e.target.auditionDescription.value);
            formdata.append("auditionStartDate", e.target.auditionStartDate.value);
            formdata.append("auditionEndDate", e.target.auditionEndDate.value);
            formdata.append("auditionCharges", e.target.auditionCharges.value);
            formdata.append("auditionPrice", e.target.auditionPrice.value);
            formdata.append("auditionPattern", e.target.auditionPattern.value);
            formdata.append("auditionName", e.target.auditionName.value);
            formdata.append("auditionCount", parseInt(e.target.auditionCount.value));

            var requestOptions = {
                method: 'POST',
                body: formdata,
                redirect: 'follow'
            };

            fetch("createaudition", requestOptions)
                .then(response => response.json())
                .then(result => {
                    if (result.status === "true") {
                        auditionBtn.innerHTML = "Success";
                        // alert("Audition Created Successfully");
                        window.location.href = "/provider/dashboard";
                    } else {
                        auditionBtn.disabled = false;
                        alert("Audition Creation Failed please upload a logo");
                        auditionBtn.innerHTML = "SUBMIT";
                    }
                })
                .catch(error => console.log('error', error));
        });
    </script>
    <script>
        // const API_publicKey = "<ADD YOUR PUBLIC KEY HERE>";

        // function payWithRave() {
        //     var x = getpaidSetup({
        //         PBFPubKey: API_publicKey,
        //         customer_email: "user@example.com",
        //         amount: 2000,
        //         customer_phone: "234099940409",
        //         currency: "NGN",
        //         txref: "rave-123456",
        //         meta: [{
        //             metaname: "flightID",
        //             metavalue: "AP1234"
        //         }],
        //         onclose: function () { },
        //         callback: function (response) {
        //             var txref = response.data.txRef; // collect txRef returned and pass to a                    server page to complete status check.
        //             console.log("This is the response returned after a charge", response);
        //             if (
        //                 response.data.chargeResponseCode == "00" ||
        //                 response.data.chargeResponseCode == "0"
        //             ) {
        //                 // redirect to a success page
        //             } else {
        //                 // redirect to a failure page.
        //             }

        //             x.close(); // use this to close the modal immediately after payment.
        //         }
        //     });
        // }
    </script>



    <%- include("./partials/footer.ejs") %>