<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>GhenGhen Provider</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/assets/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/assets/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <a href="/provider">GhenGhen<b>Provider</b></a>
            <small>Join GhenGhen Live as a Provider </small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_up" class="user">
                    <div class="msg">Register a new membership</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Name Surname" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" placeholder="Email Address" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">attach_file</i>
                        </span>
                        <div class="form-line">
                            <label for="logo">Upload a Logo</label>
                            <input style="display: none;" id="logo" type="file" class="form-control" name="logo"
                                placeholder="Upload a Logo">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" minlength="6"
                                placeholder="Password" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                        <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of
                                usage</a>.</label>
                    </div>

                    <button id="signupBtn" class="btn btn-block btn-lg btn-warning waves-effect" type="submit">SIGN
                        UP</button>

                    <div class="m-t-25 m-b--5 align-center">
                        <a href="/provider">You already a Provider?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Jquery Core Js -->
    <script src="/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/assets/plugins/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="/assets/plugins/jquery-validation/jquery.validate.js"></script>
    <!-- Custom Js -->
    <script src="/assets/js/admin.js"></script>
    <script src="/assets/js/pages/examples/sign-in.js"></script>
    <script>
        const form = document.querySelector('.user');
        const signupBtn = document.querySelector('#signupBtn');
        console.log(form)
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            // signupBtn.innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            signupBtn.innerHTML = 'Please wait...'
            signupBtn.disabled = true;
            var formdata = new FormData();
            formdata.append("username", e.target.username.value);
            formdata.append("email", e.target.email.value);
            formdata.append("logo", e.target.logo.files[0]);
            formdata.append("password", e.target.password.value);

            var requestOptions = {
                method: 'POST',
                body: formdata,
                redirect: 'follow'
            };

            fetch("signup", requestOptions)
                .then(response => response.json())
                .then(result => {
                    if (result.status === 'true') {
                        signupBtn.innerHTML = 'Created';
                        window.location.href = "/provider";
                    } else {
                        alert("Provider already exist")
                        signupBtn.innerHTML = 'Error Creating Provider';
                        window.location.href = "/provider/signup";

                    }
                })
                .catch(error => console.log('error', error));

            // const username = form.username.value
            // const email = form.email.value
            // const password = form.password.value
            // const logo = form.logo.files[0]
            // const payload = {
            //     username: username,
            //     email: email,
            //     password: password,
            //     logo: logo
            // }
            // // formData.append('file', form.file.files[0]);

            // console.log(username, email, password)

            // fetch('signup', {
            //     method: 'POST',
            //     headers: {
            //         'Content-Type': 'application/json'
            //     },
            //     body: JSON.stringify(payload)
            // }).then(res => res.json())
            //     .then(data => {
            //         if (data.status === 'true') {
            //             window.location.href = '/provider'
            //         } else {
            //             alert(data.message)
            //         }
            //     })
            //     .catch(e => console.log(e))



        })
    </script>
</body>

</html>