
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    font-weight: 300 !important;
    
    
}
* input{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: goldenrod;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background: transparent;
  
}

/* Firefox */


* button{
    cursor: pointer;
}
*::-webkit-scrollbar {
    display: none;
  }

body{
   background: url("/assest/OLIVE/backgroundImage.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   margin: auto 0;
   font-family: 'lato';
   font-weight: 300 !important;

}
b{
    height: 5px;
}


/* style input[datetime-local]*/
input[type=datetime-local]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.container{
    width: 414px ;
    margin: 0 auto ;
    overflow-x: hidden;
    /* border: 1px solid red; */
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:#000000 ;
   

}



.numberform{
    max-width: 414px;
    color: #ddd;
}
.iti__flag{
    
}
#forphone{
    flex: 1;
   
}


input#phone,.input {
    border: none !important;

    outline: none !important;
    background: none !important;
    margin: 0 !important;
}
header{
    min-height: 64px;
    background: rgb(16, 16, 16);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    
    top: 0;
    z-index: 1000;

}
.navlink{
    position: absolute;
    top: 7.5vh;
    width:100%;
    right:0;
    background:rgba(218, 165, 32, 0.898);
    color: #fff;
 
    
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
   
    gap: 5px;
    padding: 10px;
    visibility: hidden;
    /* transition */
    opacity: 0;
    z-index: -1;

    transition: all 0.5s ease-in-out;

    



}
.navlink:hover{
    cursor: pointer;
}
.navlink a{
 padding: 2px;
 text-transform: capitalize;
 text-decoration: double;
 color: #000;
   
}
.navlink a:hover{
    background: rgb(32, 6, 32);
    color:goldenrod;
}
.logo {
    flex: .65;
    /* border: 1px solid red; */
    margin-left: 10px ;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    
}


.icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
    flex: .25;
    
}
.icon img{
    height: 24px;
   
}
.styledform{
    display: flex;
    gap: 10px;
    align-items: center;

}
.styledform input{
    width: 400px;
}
.styledform img{
    height: 16px;
    
}

.largeImg{
    /* display: flex; */
    /* min-height: 452px; */
    /* background-image: url("/assest/OLIVE/woman.png"); */
    position: relative;
    object-fit: cover;
    
}

.carousel-l{
    position: absolute;
    transform: rotate(180deg);
    left: 20px;
    top: 13px;
    z-index: 900;
}
/* https://countriesnow.space/api/v0.1/countries/flag/unicode */
.carousel{
   position: absolute;
   right: 20px;
    top: 13px;
    z-index: 900;
}
.swiper-pagination-bullet{
    background-color: #FAB42B !important;
    /* visibility: hidden !important; */
    
}

.swiper-button-prev {
   
    color: transparent !important;
    /* visibility: hidden !important; */
    outline: none !important;
}

.swiper-button-next {
    color: transparent !important;
    outline: none !important;
    
}


.content{
    background: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:0px 20px;
    gap: 20px;
}
.content_header{
    font-family: lato;
font-weight:300;
font-size: 18px;

text-transform: uppercase;
/* identical to box height, or 38px */
padding: 1em;
text-align: center;
color: #ddd;
}
.register_link {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding:0 .3em;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    font-size: 14px;
    color: #ddd;
   
    
}
.register_link_header{
    font-weight: 300;
    font-size: 24px;
    margin: -10px 0;
}
.link_register{
    background-color: rgb(2, 2, 2);
}
.register_link > div{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: .5em;
    justify-content: flex-start;
    margin: 10px 0;
  
}
.register_link > div input{
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    font-weight: 300;
   
    padding: 0;
    margin: 0;
    width: 300px;
    color: #ddd;
}
.CONGRATULATION{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 1.5em;
    color: #ddd;

}
.CONGRATULATION p{
    width: 323px;
height: 75px;
font-size: 16px;
line-height: 156.5%;
}
.CONGRATULATION P, .CONGRATULATION .btn{
    font-weight: 300;
}
.CONGRATULATION a{
    color: goldenrod;
    
}
.jointext{
    margin-bottom: -10px;
}
.content_text{
    
font-size: 18px;
text-align: center;
font-weight: 300;
font-size: 16px;
text-align: left;
white-space: calc(100% + 1em);


letter-spacing: 2px;
color: #ddd;
}

.content_text strong{
    font-weight: bolder !important;
    font-family: Arial, Helvetica, sans-serif;
    color: goldenrod;
}
.youtube {
    position: relative;
}
.youtubelogo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* z-index: 10000; */
}
.join{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.join p{
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
   
}
.join a{
    color: goldenrod;
}
.join > h4{
    padding-bottom: 10px;
}
.btn,.pbtn{
    text-transform: uppercase;
    background: goldenrod;
    width: 366px;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    color: #fff;
    outline: none;
    box-shadow: none;
    border:none;


}
.phoneInput > *{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px; */
    line-height: 2;
    padding: 10px;
    

}
.join span{
    color: green;
    font-weight: bolder !important;
    font-family: Arial, Helvetica, sans-serif;
}

/* form */
form option{
    height: 30%;
}
.flex-form{
    
    display: flex;
    gap: 10px;
    align-items: center;
    width: inherit;
    padding: 5px;
    text-align: center;
}
.flex-form #code {
    /* border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none; */
    border: none;
    
    font-size: 20px;
    outline: none;
    background: none;
    border-radius: 0px;
}
#phoneNumber{
    border-radius: 0px;
    background-color: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .1px solid black;
    font-size: 20px;
    text-align: center;


}

.flex-form select{
    -webkit-appearance: none;
    /* background: none; */
    outline: none;
    font-size: 40px;
    background: none;
    border-radius: 50%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Afghanistan.svg");
    border-color: transparent;
}
.unicode{
   
}
.user{
    z-index: 99999;
}

/* end form */

/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em;
   

}

.facebook,.google,.mail{
    position: relative;
}
.socialicons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.otp_content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    display: none;
}
.otp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    color: #ddd;
}
.otp input{
    width: 50px;
height: 50px;
left: 29px;
top: 1317px;

border: 1px solid goldenrod;
box-sizing: border-box;
border-radius: 5px;
font-size: 30px;
text-align: center;
}
.resend{
    text-align: center;
    font-size: 16px;
}
.bottom::before{
    content: "";
    height: 18px;
    width: 414px;
background-color: goldenrod;

}

/* DASHBOARD STYLES */
.boxs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 10px;
    grid-gap: 30px;
    
}
.boxs a{
    text-decoration: none;
    color: #fff;
  
}




.box{
    width: 150px;
height: 110px;
background: #000;
border: 1.8px solid #FAB42B;
box-sizing: border-box;
border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: lighter;
}
.box:hover{
    background: rgb(24, 23, 23);
}

.bo h5{
    font-size: 12px;
    font-weight: 200;
}
.bo{
    height: calc(100% - 10px);
}


.audition{
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
}

/* BRAND */

.brand{
    margin:-5px ;
    background-color: #000;
}
.last{
 

    background-color: goldenrod;
    height: 4px;
    width: 100%;
    padding: 4px;

}
.profile-img{
    background-color: #000;
    color: #ddd;
}
.img-round h5{
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.5%;
}
.user-details{
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.5%;
    background-color: #000000;

}
.user-details form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em;
    gap: 10px;
    
}
.user-details form input{
    border: 1px solid goldenrod;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1em;
    outline: none;
    background-color: #000;
    color: #ddd;
}
.user-details form div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#dateandtime{
background-color: #000;
color: #ddd;
border: 1px solid goldenrod;
outline: none;
padding: 4px;
width: 160px;
}

/* input[type="date"] */
#checkA{
    border: goldenrod;
    background: #000;
    color: goldenrod;

}
#time{
    background-color: #000;
    color: #ddd;
    border: 1px solid goldenrod;
    outline: none;
    width: 100px;
    
}
.auditionBox{
    height: 100%;
}
.auditionBox
.abox{
width: 369px;
margin: o auto;
background: #0c0c0c;
box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.15);
border-radius:10px;
display: flex;
padding: 1em;

flex-direction: column;
color: #ddd;
border:1.5px solid #62615d;


gap: 30px;


}
.abox a{
    color: goldenrod;
    text-align: end;
}
.auditiontext{
    text-align: start;
    font-weight: 200;
}
.auditiontext p {
    font-size: 14px;
}
.abox_content{
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 300;
}
.abox_content  p {
    font-weight: 400;
}
.number{
    position: relative;
}
.iti--container {
  
    width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: 300px;
    
}
.footer_social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(16, 16, 16);
    color: goldenrod;
    padding: 5px;
    font-weight: 300;
    
}

.social_icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.fade,.hide{
    display: none;
   animation: fade 1s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#dateandtime{
    text-align: center;
    
}
::-webkit-calendar-picker-indicator {
    background:rgb(2, 2, 2) url('/assest/OLIVE/date.png')  97% 50% no-repeat !important ;
}
#dateSelection div:nth-of-type(2){
    display: flex;
    gap: 6px;
    align-items: center;
   
}
.active {
    display: block;
    opacity: 1;
    transition: opacity .25s ease;
}
.shownav{
    transform: translateY(0px);
    /* transition fade */
    transition: opacity .5s ease;
    opacity: 1;
    visibility: visible;
}
.err{
    color: goldenrod;
    font-size: 12px;
    width: 100%;
    margin: 0 auto;
}


/* media query */
@media screen and (max-width:400px) {
    .container{
        width: 380px;

    }
    header{
        width: auto;
        justify-content: space-around;
    }
    .boxs{
      grid-gap: 15px;
    }
    
}
@media screen and (max-width:350px) {
    .container{
        width: 300px;
    }
    header{
        
        justify-content: space-around;
        width: 300px;
        
    }
    .boxs{
        grid-template-columns:1fr;
      grid-gap: 15px;
    }
    .bo > img{
        width: 130px !important;
    }
}